# CI GitHub Action ... adapted from usethis::use_github_actions()
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - dev_*

name: GitHub Actions CI

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    strategy:
      fail-fast: false
      matrix:
        config:
          #- {os: windows-latest, r: 'oldrel', not_cran: 'true'}
          #- {os: windows-latest, r: 'release', not_cran: 'true'}
          #- {os: windows-latest, r: 'devel', not_cran: 'true'}
          #- {os: macos-13,   r: 'release', not_cran: 'true'}
          #- {os: macos-13,   r: 'oldrel', not_cran: 'true'}
          - {os: ubuntu-latest,   r: 'devel', not_cran: 'true'}
          #- {os: ubuntu-latest,   r: 'release', not_cran: 'true'}
          #- {os: ubuntu-latest,   r: 'oldrel', not_cran: 'true'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
